[package]
name = "rmpv"
version = "0.4.1"
authors = ["Evgeny Safronov <division494@gmail.com>"]
license = "MIT"
description = "Value variant for RMP"
repository = "https://github.com/3Hren/msgpack-rust"
documentation = "https://docs.rs/rmpv"
readme = "../README.md"
keywords = ["msgpack", "MessagePack", "serialization"]

[features]
with-serde = ["serde", "serde_bytes"]

[dependencies]
rmp = "0.8"
num-traits = "0.1"
serde = { version = "1", optional = true }
serde_bytes = { version = "0.10", optional = true }

[dev-dependencies]
quickcheck = "0.3"
