[package]
name = "rmp-serde"
version = "0.14.3"
authors = ["Evgeny Safronov <division494@gmail.com>"]
license = "MIT"
description = "Serde bindings for RMP"
repository = "https://github.com/3Hren/msgpack-rust"
documentation = "https://docs.rs/rmp-serde"
readme = "../README.md"
keywords = ["msgpack", "MessagePack", "serde", "serialization"]
categories = ["encoding"]
edition = "2018"

[dependencies]
byteorder = "1.3.2"
serde = "1.0.99"
rmp = { version = "0.8.8", path = "../rmp" }

[dev-dependencies]
serde_bytes = "0.11.2"
serde_derive = "1.0.99"
