name: Build
on:
    push:
    pull_request:

jobs:
    check:
        name: Tests (${{ matrix.rust }})
        runs-on: ubuntu-latest
        strategy:
            matrix:
                rust:
                    - stable
                    - beta
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: ${{ matrix.rust }}

            - name: Test (all, all features)
              run: cargo test --all --all-features

            - name: Test no_std (no default features)
              run: cargo test -p rmp --no-default-features
